body{
  background: linear-gradient(to right, pink, rgb(233, 156, 41));
  text-align: center;
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  text-transform: uppercase;
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  font: 900 1em 'Raleway', sans-serif;
  color: rgba(0,0,0,0.5);
  text-transform: none;
  letter-spacing: 0.01em;
}